

.hidden{
    display: none;
}

.popup {
    position: absolute;
    top: 80px;
    z-index: 100;
    text-align: center;
}
 
.results_wrapper {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin: 0 auto; 
    padding: 20px 20px 40px 20px;    
    width: 80vw;
    max-width: 1600px;
}

#results p {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    font-style: italic;
    color: #4D4D4D;  
    font-family: 'Ubuntu', sans-serif; 
}

.chart_wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

.new_game {
    background-color: #4D4D4D;
    border-radius: 50px;
    border: none;
    box-shadow:10px 10px 0px 0 #DB9B11;
    margin-bottom: 20px 0 20px 0;
    transition: all .3s;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-style: italic;
    margin-top: 20px;
    font-size: 1.2rem;
    height: 60px;
    width: 260px;
     &:hover {
        font-size: 1.5rem;
        text-shadow: 3px 3px 1px #DB9B11;
    }
    &:active {
        transform: translate(5px, 5px);
        box-shadow:5px 5px 0px 0 #DB9B11;
    }
}


