

.hidden{
    display: none;
}

.popup {
    text-align: center;
}
 
.results_wrapper {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 50px 20px 50px 20px;    
    width: 80vw;
    max-width: 1600px;
}

#results{
    p {
        font-size: 1.1rem;
        line-height: 1.3;
        font-weight: 700;
        font-style: italic;
        padding: 0 20px 0 20px;
        color: #4D4D4D;  
        font-family: 'Ubuntu', sans-serif; 
    }
    span {
        color: #DB9B11;
        font-size: 1.8rem;
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

.chart_wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.new_game {
    background-color: #4D4D4D;
    border-radius: 50px;
    border: none;
    box-shadow:10px 10px 0px 0 #DB9B11;
    margin: 30px 0 30px 0;
    transition: all .3s;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-style: italic;
    font-size: 1.2rem;
    height: 60px;
    width: 260px;
     &:hover {
        font-size: 1.5rem;
        text-shadow: 3px 3px 1px #DB9B11;
    }
    &:active {
        transform: translate(5px, 5px);
        box-shadow:5px 5px 0px 0 #DB9B11;
    }
}


