
@import "components/results_page";


article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;}

.visuallyhidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

body {
    font-size: 62.5%;
    font-weight: 700;
    font-style: italic;
    color: #4D4D4D;    
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    padding: 40px 20px 40px 20px;
}

a {
    text-decoration: none;
    color: #DB9B11;
    transition: all .3s;
     &:hover &:focus {
        text-decoration: underline;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 1rem;
    padding: 10px 0 10px 0;
}

.matrix_wrapper {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.rotating_coin_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:200px;
    padding: 0 0 30px 0;
}

// proofing for other browsers:
.rotating_coin {
    top:0;
    position: relative;
    height:100%;
}

// IF I COMMENT THIS OUT, in firefox, THE COIN DOES THIS SUPER COOL THING AT THE BEFORE IT STARTS ROTATING;
.rotating_coin {
    display: none;
}

.form_wrapper {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 40px 150px 50px 150px;    
    width: 80vw;
    max-width: 1600px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input_wrapper {
    font-size: 1.2rem;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input {
    width: 180px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
    font-style: italic;
    font-size: 1rem;
    height: 35px;
    color: rgb(200,200,200);
    border: none;
    border-radius: 5px;
    padding: 0 15px 0 15px;
}

.submit_answer {
    background-color: #4D4D4D;
    height: 60px;
    width: 300px;
    border-radius: 50px;
    border: none;
    box-shadow:10px 10px 0px 0 #DB9B11;
    font-size: 1.2rem;
    transition: all .3s;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-style: italic;
    margin-top: 30px;
    &:hover &:focus {
        font-size: 1.5rem;
        text-shadow: 3px 3px 1px #DB9B11;
    }
    &:active {
        transform: translate(5px, 5px);
        box-shadow:5px 5px 0px 0 #DB9B11;
    }
}

.svg-inline--fa {
    font-size: 1.8rem;
    margin: 30px 0 30px 0;
}

.credits {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
        p {
            padding: 0;
        }
}






// this goes at the bottom; all other imports at the top
@import "components/media_queries";